table {
  width: 75%;
  font-size: large;
}

td {
  padding: 10px;
  border: 1px solid rgb(222, 222, 222);
}

th {
  background-color: #b76465;
  text-transform: uppercase;
  color: #fff;
  padding: 8px;
  border: 1px solid rgb(222, 222, 222);
}

tbody tr:nth-child(odd){
  background-color: #ffffff;
}

tbody tr:nth-child(even){
  background-color: #fff1f0;
}

#showDataJSON table {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    
}